openapi: 3.0.0
info:
  contact:
    email: valentino.lauciani@ingv.it
    name: INGV
    url: http://terremoti.ingv.it/webservices_and_software
  description: "\n# Introduction\nHypoinverse is software used to Locate earthquakes\
    \ and determine magnitudes in a local or regional seismic network.\n\nMore info,\
    \ here: [https://www.usgs.gov/software/hypoinverse-earthquake-location](https://www.usgs.gov/software/hypoinverse-earthquake-location)\n\
    \nAt INGV we build stand-alone Docker to deploy \"hyp2000\" ([https://github.com/ingv/hyp2000](https://github.com/ingv/hyp2000))\
    \ and on top of this docker was build a Web Service.\n\n# Input\nThe input file\
    \ is a JSON with four sections: \n  - **HYP2000_CONF**: HYPOINVERS configuration\
    \ file (refer to manual for more details)\n  - **MODEL**: Crustal velocity model\n\
    \  - **OUTPUT**: It could be `json`, `prt`, `arc`, `sum`\n  - **TYPE_HYP2000ARC**:\
    \ An array of phases in **ew2openapi** format.\n\n# Output\nThe output could be\
    \ `json`, `prt`, `arc` or `sum`:\n  - `prt`: print format\n  - `arc`: archive\
    \ format\n  - `sum`: summary format\n  - `json`: NON STANDARD json format developed\
    \ in **ew2openapi**\n\n# Rate limit:\n  The **Rate Limit** and **Rate Reset**\
    \ are specified in the HTTP-header with `X-RateLimit-Limit` and `X-RateLimit-Reset`;\
    \ the rate limit is *per* `IP`."
  license:
    name: Creative Commons Attribution 4.0 International
    url: http://creativecommons.org/licenses/by/4.0/
  title: Dante Web Services
  version: 2.0.0
  x-api-id: 24e1e2e6-43ad-4a84-bec7-5c6ddcf5db97
  x-logo: http://webservices.ingv.it/ingv_logo_text_two_lines.png
  x-summary: Web Service to receive location from Earthworm or JSON standard
servers:
- description: Production
  url: https://webservices.ingv.it/api/v1/hyp2000
paths:
  /eventdb/ew/v1/hyp2000arc/:
    post:
      description: Insert a new hyp2000arc message to the DB using ew2openapi module
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/hyp2000arcSchema'
        description: JSON to send
        required: true
      responses:
        '201':
          description: record inserted
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
      summary: Insert a new hyp2000arc message to the DB
      tags:
      - earthworm_api
  /eventdb/ew/v1/magnitude/:
    post:
      description: Insert a new magnitude message to the DB using ew2openapi module
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/magnitudeSchema'
        description: JSON to send
        required: true
      responses:
        '201':
          description: record inserted
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
      summary: Insert a new magnitude message to the DB
      tags:
      - earthworm_api
  /eventdb/ew/v1/pick_scnl/:
    post:
      description: Insert a new pick_scnl message to the DB using ew2openapi module
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/pick_scnlSchema'
        description: JSON to send
        required: true
      responses:
        '201':
          description: record inserted
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
      summary: Insert a new pick_scnl message to the DB
      tags:
      - earthworm_api
  /eventdb/ew/v1/quake2k/:
    post:
      description: Insert a new quake2k message to the DB using ew2openapi module
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/quake2kSchema'
        description: JSON to send
        required: true
      responses:
        '201':
          description: record inserted
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
      summary: Insert a new quake2k message to the DB
      tags:
      - earthworm_api
  /eventdb/ew/v1/strongmotionii/:
    post:
      description: Insert a new strongmotionii message to the DB using ew2openapi
        module
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/strongmotioniiSchema'
        description: JSON to send
        required: true
      responses:
        '201':
          description: record inserted
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
      summary: Insert a new strongmotionii message to the DB
      tags:
      - earthworm_api
  /eventdb/v1/events/:
    get:
      description: This API returns the preferred hypocenter and the preferred magnitude
        from the same instance
      parameters:
      - $ref: '#/components/parameters/starttime__REQUIRED'
      - $ref: '#/components/parameters/endtime__REQUIRED'
      - $ref: '#/components/parameters/minlat'
      - $ref: '#/components/parameters/maxlat'
      - $ref: '#/components/parameters/minlon'
      - $ref: '#/components/parameters/maxlon'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      - $ref: '#/components/parameters/minradius'
      - $ref: '#/components/parameters/maxradius'
      - $ref: '#/components/parameters/minradiuskm'
      - $ref: '#/components/parameters/maxradiuskm'
      - $ref: '#/components/parameters/minmag'
      - $ref: '#/components/parameters/maxmag'
      - $ref: '#/components/parameters/mindepth'
      - $ref: '#/components/parameters/maxdepth'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/fk_events_group'
      responses:
        '200':
          $ref: '#/components/responses/200EventsAndEventsPref'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
      summary: This API returns the preferred hypocenter and the preferred magnitude
        from the same instance.
      tags:
      - get_data
  /eventdb/v1/events_pref/:
    get:
      description: This API returns the preferred hypocenter and the preferred magnitude
        from all clusterd events.
      parameters:
      - $ref: '#/components/parameters/starttime__REQUIRED'
      - $ref: '#/components/parameters/endtime__REQUIRED'
      - $ref: '#/components/parameters/minlat'
      - $ref: '#/components/parameters/maxlat'
      - $ref: '#/components/parameters/minlon'
      - $ref: '#/components/parameters/maxlon'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      - $ref: '#/components/parameters/minradius'
      - $ref: '#/components/parameters/maxradius'
      - $ref: '#/components/parameters/minradiuskm'
      - $ref: '#/components/parameters/maxradiuskm'
      - $ref: '#/components/parameters/minmag'
      - $ref: '#/components/parameters/maxmag'
      - $ref: '#/components/parameters/mindepth'
      - $ref: '#/components/parameters/maxdepth'
      - $ref: '#/components/parameters/orderby'
      responses:
        '200':
          $ref: '#/components/responses/200EventsAndEventsPref'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
      summary: This API returns the preferred hypocenter and the preferred magnitude
        from all clusterd events.
      tags:
      - get_data
components:
  headers:
    Retry-After:
      description: |-
        Retry contacting the endpoint *at least* after seconds.
        See https://tools.ietf.org/html/rfc7231#section-7.1.3
      schema:
        format: int32
        type: integer
    X-RateLimit-Limit:
      description: The number of allowed requests in the current period
      schema:
        format: int32
        type: integer
    X-RateLimit-Remaining:
      description: The number of remaining requests in the current period
      schema:
        format: int32
        type: integer
    X-RateLimit-Reset:
      description: The number of seconds left in the current period
      schema:
        format: int32
        type: integer
  parameters:
    endtime__REQUIRED:
      description: Select date end. - [ **YYYY-MM-DDThh:mm:ss** | **YYYY-MM-DD** ]
        (ex. 2013-02-19T17:06:38)
      in: query
      name: endtime
      required: true
      schema:
        format: date-time
        type: string
    fk_events_group:
      description: Select events with same event_group_id.
      format: integer
      in: query
      name: event_group_id
      required: false,
      type: integer
    lat:
      description: Specify the central latitude point for a radial search (in WGS84).
      in: query
      name: lat
      required: false
      schema:
        $ref: '#/components/schemas/latitude'
    lon:
      description: Specify the central longitude point for a radial search (in WGS84).
      in: query
      name: lon
      required: false
      schema:
        $ref: '#/components/schemas/longitude'
    maxdepth:
      description: Specify maximum depth (kilometers), values increase positively
        with depth.
      in: query
      name: maxdepth
      required: false
      schema:
        format: double
        type: number
    maxlat:
      description: Specify northern boundary for search (in WGS84).
      in: query
      name: maxlat
      required: false
      schema:
        $ref: '#/components/schemas/latitude'
    maxlon:
      description: Specify eastern boundary for search (in WGS84).
      in: query
      name: maxlon
      required: false
      schema:
        $ref: '#/components/schemas/longitude'
    maxmag:
      description: Limit to events with a magnitude smaller than or equal to the specified
        maximum.
      in: query
      name: maxmag
      required: false
      schema:
        $ref: '#/components/schemas/magnitude'
    maxradius:
      description: Specify maximum distance from the geographic point defined by latitude
        and longitude (in Degrees).
      in: query
      name: maxradius
      required: false
      schema:
        format: double
        type: number
    maxradiuskm:
      description: Specify maximum distance from the geographic point defined by latitude
        and longitude. Kilometers. **This is an INGV extension to the FDSN specification.**
      in: query
      name: maxradiuskm
      required: false
      schema:
        format: double
        type: number
    mindepth:
      description: Specify minimum depth (kilometers), values increase positively
        with depth.
      in: query
      name: mindepth
      required: false
      schema:
        format: double
        type: number
    minlat:
      description: Specify southern boundary for search (in WGS84).
      in: query
      name: minlat
      required: false
      schema:
        $ref: '#/components/schemas/latitude'
    minlon:
      description: Specify western boundary for search (in WGS84).
      in: query
      name: minlon
      required: false
      schema:
        $ref: '#/components/schemas/longitude'
    minmag:
      description: Limit to events with a magnitude larger than or equal to the specified
        minimum.
      in: query
      name: minmag
      required: false
      schema:
        $ref: '#/components/schemas/magnitude'
    minradius:
      description: Specify minimum distance from the geographic point defined by latitude
        and longitude (in Degrees).
      in: query
      name: minradius
      required: false
      schema:
        format: double
        type: number
    minradiuskm:
      description: Specify minimum distance from the geographic point defined by latitude
        and longitude. Kilometers. **This is an INGV extension to the FDSN specification.**
      in: query
      name: minradiuskm
      required: false
      schema:
        format: double
        type: number
    orderby:
      description: Select order
      in: query
      name: orderby
      required: false
      schema:
        enum:
        - id
        - id-asc
        - id-desc
        - modified
        - modified-asc
        - modified-desc
        - hyp_ot-asc
        - hyp_ot-desc
        - mag_mag-asc
        - mag_mag-desc
        type: string
    starttime__REQUIRED:
      description: Select date start. - [ **YYYY-MM-DDThh:mm:ss** | **YYYY-MM-DD**
        ] (ex. 2013-02-18T15:06:38)
      in: query
      name: starttime
      required: true
      schema:
        format: date-time
        type: string
  responses:
    200EventsAndEventsPref:
      content:
        application/json:
          schema:
            allOf:
            - properties:
                current_page:
                  description: Current page.
                  example: '1'
                  type: string
                first_page_url:
                  description: URL first page.
                  example: http://localhost:8087/api/eventdb/v1/events_pref/?page=2
                  type: string
                from:
                  description: Showed record from.
                  example: '1'
                  type: string
                last_page:
                  description: Last page.
                  example: '967'
                  type: string
                last_page_url:
                  description: URL last page.
                  example: http://localhost:8087/api/eventdb/v1/events_pref/?page=4
                  type: string
                next_page_url:
                  description: URL next page.
                  example: http://localhost:8087/api/eventdb/v1/events_pref/?page=3
                  type: string
                path:
                  description: URL base path.
                  example: http://localhost:8087
                  type: string
                per_page:
                  description: Record per page.
                  example: '4000'
                  type: string
                prev_page_url:
                  description: URL previous page.
                  example: http://localhost:8087/api/eventdb/v1/events_pref/?page=1
                  type: string
                to:
                  description: Showed record to.
                  example: '4000'
                  type: string
                total:
                  description: Total records.
                  example: '50'
                  type: string
              type: object
            - properties:
                data:
                  items:
                    allOf:
                    - properties:
                        fk_events_group:
                          default: 0
                          description: Link event group | bigint(20)
                          format: int64
                          type: integer
                        id:
                          description: Unique incremental id | bigint(20)
                          example: 14932631
                          format: int64
                          type: integer
                        id_locator:
                          default: 0
                          description: Event id created by locator | bigint(20)
                          example: 182491
                          format: int64
                          type: integer
                        inserted:
                          default: CURRENT_TIMESTAMP
                          description: Insert time | timestamp
                          example: '2017-04-18 15:04:42'
                          type: string
                        modified:
                          default: CURRENT_TIMESTAMP
                          description: Last Review | timestamp
                          example: '2017-04-18 15:04:42'
                          type: string
                        type_event:
                          description: Name | varchar(255)
                          example: earthquake
                          type: string
                      type: object
                    - properties:
                        hypocenter:
                          properties:
                            depth:
                              description: Depth in Km | double
                              example: 0.02
                              format: double
                              type: number
                            id:
                              description: Unique incremental id | bigint(20)
                              example: 14932631
                              format: int64
                              type: integer
                            inserted:
                              default: CURRENT_TIMESTAMP
                              description: Insert time | timestamp
                              example: '2017-04-18 15:04:42'
                              type: string
                            lat:
                              $ref: https://teamdigitale.github.io/openapi/master/definitions.yaml#/schemas/Latitude
                            lon:
                              $ref: https://teamdigitale.github.io/openapi/master/definitions.yaml#/schemas/Longitude
                            modified:
                              default: CURRENT_TIMESTAMP
                              description: Last Review | timestamp
                              example: '2017-04-18 15:04:42'
                              type: string
                            ot:
                              description: Origin time | datetime(3)
                              example: '2016-06-22 16:52:06.260'
                              type: string
                            provenance:
                              properties:
                                description:
                                  default: null
                                  description: Additional information | char(255)
                                  example: Auto added
                                  type: string
                                hostname:
                                  default: null
                                  description: Hostname | char(255)
                                  example: hew10.ingv.it
                                  type: string
                                instance:
                                  default: null
                                  description: Istance name. i.e. hew1_mole, endeavour_mole
                                    | char(255)
                                  example: hew1_mole
                                  type: string
                                name:
                                  default: INGV
                                  description: Name of Provenance. i.e. INGV, ETH,
                                    USGS | char(255)
                                  example: INGV
                                  type: string
                                softwarename:
                                  description: Software name. i.e. SisPick, eqassemble,
                                    hypoinverse | char(255)
                                  example: software
                                  type: string
                                username:
                                  default: null
                                  description: User name | char(255)
                                  example: ew
                                  type: string
                              type: object
                            quality:
                              description: Quality of the localization | char(2)
                              example: AB
                              type: string
                            region:
                              description: Event location remark region | varchar(255)
                              example: Norcia
                              type: string
                          type: object
                      type: object
                    - properties:
                        magnitude:
                          properties:
                            id:
                              description: Unique incremental id | bigint(20)
                              example: 14932631
                              format: int64
                              type: integer
                            mag_quality:
                              description: INGV quality code of the magnitude (computed
                                by ew2moledb) | char(2)
                              example: BB
                              type: string
                            provenance:
                              properties:
                                description:
                                  default: null
                                  description: Additional information | char(255)
                                  example: Auto added
                                  type: string
                                hostname:
                                  default: null
                                  description: Hostname | char(255)
                                  example: hew10.ingv.it
                                  type: string
                                instance:
                                  default: null
                                  description: Istance name. i.e. hew1_mole, endeavour_mole
                                    | char(255)
                                  example: hew1_mole
                                  type: string
                                name:
                                  default: INGV
                                  description: Name of Provenance. i.e. INGV, ETH,
                                    USGS | char(255)
                                  example: INGV
                                  type: string
                                softwarename:
                                  description: Software name. i.e. SisPick, eqassemble,
                                    hypoinverse | char(255)
                                  example: software
                                  type: string
                                username:
                                  default: null
                                  description: User name | char(255)
                                  example: ew
                                  type: string
                              type: object
                            quality:
                              description: quality | double
                              format: double
                              type: number
                            type:
                              default: null
                              description: Type of the magnitude | varchar(50)
                              example: ML-VAX
                              type: string
                            value:
                              description: Magnitudo value | double
                              example: 3.01
                              format: double
                              type: number
                          type: object
                      type: object
                    - properties:
                        provenance:
                          properties:
                            description:
                              default: null
                              description: Additional information | char(255)
                              example: Auto added
                              type: string
                            hostname:
                              default: null
                              description: Hostname | char(255)
                              example: hew10.ingv.it
                              type: string
                            instance:
                              default: null
                              description: Istance name. i.e. hew1_mole, endeavour_mole
                                | char(255)
                              example: hew1_mole
                              type: string
                            name:
                              default: INGV
                              description: Name of Provenance. i.e. INGV, ETH, USGS
                                | char(255)
                              example: INGV
                              type: string
                            softwarename:
                              description: Software name. i.e. SisPick, eqassemble,
                                hypoinverse | char(255)
                              example: software
                              type: string
                            username:
                              default: null
                              description: User name | char(255)
                              example: ew
                              type: string
                          type: object
                      type: object
                  type: array
              type: object
      description: Operation successful
    204NoContent:
      description: Request was properly formatted and submitted but no data matches
        the selection
    400BadRequest:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Bad Request
    404NotFound:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Not Found
    429TooManyRequests:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Too many requests
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
    500InternalServerError:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Internal Server Error
    503ServiceUnavailable:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Service Unavailable
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
    default:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Unexpected error
  schemas:
    Latitude:
      description: |-
        Latitude of a point expressed in:

        * the ETRS89 system for Italian and European territories
        * and in WGS84 for the others.
      example: 45.492599
      externalDocs:
        url: http://dati.gov.it/onto/clvapit#long
      format: double
      maximum: 90
      minimum: -90
      type: number
    Longitude:
      description: |-
        Longitude of a point expressed in:

        * the ETRS89 system for Italian and European territories
        * and in WGS84 for the others.
      example: 9.19289
      externalDocs:
        url: http://dati.gov.it/onto/clvapit#long
      format: double
      maximum: 180
      minimum: -180
      type: number
    Problem:
      properties:
        detail:
          description: |
            A human readable explanation specific to this occurrence of the
            problem. You MUST NOT expose internal informations, personal
            data or implementation details through this field.
          example: Request took too long to complete.
          type: string
        instance:
          description: |
            An absolute URI that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.
          format: uri
          type: string
        status:
          description: |
            The HTTP status code generated by the origin server for this occurrence
            of the problem.
          example: 503
          exclusiveMaximum: true
          format: int32
          maximum: 600
          minimum: 100
          type: integer
        title:
          description: |
            A short, summary of the problem type. Written in english and readable
            for engineers (usually not suited for non technical stakeholders and
            not localized); example: Service Unavailable
          type: string
        type:
          default: about:blank
          description: |
            An absolute URI that identifies the problem type.  When dereferenced,
            it SHOULD provide human-readable documentation for the problem type
            (e.g., using HTML).
          example: https://tools.ietf.org/html/rfc7231#section-6.6.4
          format: uri
          type: string
      type: object
    amplitude__amp1:
      description: Amplitude value | double
      example: -0.358
      format: double
      type: number
    amplitude__amp2:
      description: Amplitude value | double
      example: 0.292
      format: double
      type: number
    amplitude__period1:
      description: Amlitude period | double
      example: -1
      format: double
      type: number
    amplitude__period2:
      description: Amplitude period | double
      example: -1
      format: double
      type: number
    amplitude__time1:
      description: ' | datetime(3)'
      example: '2017-04-28 06:34:15.350'
      type: string
    amplitude__time2:
      description: ' | datetime(3)'
      example: '2017-04-28 06:34:15.850'
      type: string
    cha:
      description: Channel code | char(3)
      example: HHZ
      type: string
    depth:
      description: Depth in Km | double
      example: 0.02
      format: double
      type: number
    ep_distance:
      description: Distance from epicenter of the station | double
      example: 694
      format: double
      type: number
    event__id_locator:
      default: 0
      description: Event id created by locator | bigint(20)
      example: 182491
      format: int64
      type: integer
    ewLogo__hostname:
      description: Hostname | ???
      example: hew3.int.ingv.it
      type: string
    ewLogo__installation:
      description: Installation description | ???
      example: INST_INGV
      type: string
    ewLogo__instance:
      description: Instance description | ???
      example: hew3_mole
      type: string
    ewLogo__user:
      description: User | ???
      example: ew
      type: string
    hyp2000arcSchema:
      allOf:
      - $ref: '#/components/schemas/hyp2000arc__base'
      - properties:
          ewLogo:
            properties:
              hostname:
                $ref: '#/components/schemas/ewLogo__hostname'
              installation:
                $ref: '#/components/schemas/ewLogo__installation'
              instance:
                $ref: '#/components/schemas/ewLogo__instance'
              module:
                description: Module description | ???
                example: MOD_EQASSEMBLE
                type: string
              type:
                description: Type description | ???
                example: TYPE_HYP2000ARC
                type: string
              user:
                $ref: '#/components/schemas/ewLogo__user'
            required:
            - type
            - module
            - installation
            - instance
        type: object
    hyp2000arc__base:
      properties:
        ewMessage:
          properties:
            Md:
              description: Md description | ???
              format: double
              type: number
            Mpref:
              description: Mpref description | ???
              format: double
              type: number
            depth:
              $ref: '#/components/schemas/depth'
            dminnnn:
              description: dmin description | ???
              format: double
              type: number
            e0:
              $ref: '#/components/schemas/hypocenter__e0'
            e0az:
              $ref: '#/components/schemas/hypocenter__e0_az'
            e0dp:
              $ref: '#/components/schemas/hypocenter__e0_dip'
            e1:
              $ref: '#/components/schemas/hypocenter__e1'
            e1az:
              $ref: '#/components/schemas/hypocenter__e1_az'
            e1dp:
              $ref: '#/components/schemas/hypocenter__e1_dip'
            e2:
              $ref: '#/components/schemas/hypocenter__e2'
            erh:
              $ref: '#/components/schemas/hypocenter__err_h'
            erz:
              $ref: '#/components/schemas/hypocenter__err_z'
            gap:
              $ref: '#/components/schemas/hypocenter__azim_gap'
            ingvQuality:
              description: ingvQuality description | ???
              example: DD
              type: string
            labelpref:
              description: ingvQuality description | ???
              example: ' '
              type: string
            latitude:
              $ref: '#/components/schemas/latitude'
            longitude:
              $ref: '#/components/schemas/longitude'
            mdmad:
              description: mdmad description | ???
              format: double
              type: number
            mdtype:
              description: ingvQuality description | ???
              example: D
              type: string
            mdwt:
              description: mdwt description | ???
              format: double
              type: number
            nPfm:
              $ref: '#/components/schemas/hypocenter__nph_fm'
            nph:
              $ref: '#/components/schemas/hypocenter__nph'
            nphS:
              $ref: '#/components/schemas/hypocenter__nph_s'
            nphtot:
              $ref: '#/components/schemas/hypocenter__nph_tot'
            originTime:
              $ref: '#/components/schemas/hypocenter__ot'
            phases:
              $ref: '#/components/schemas/hyp2000arc__phases'
            quakeId:
              $ref: '#/components/schemas/event__id_locator'
            reg:
              description: ingvQuality description | ???
              example: ' '
              type: string
            rms:
              $ref: '#/components/schemas/hypocenter__rms'
            version:
              $ref: '#/components/schemas/type_hypocenter__name'
            wtpref:
              description: wtpref description | ???
              format: double
              type: number
          required:
          - quakeId
          - version
          - originTime
          - latitude
          - longitude
          - depth
    hyp2000arc__phases:
      items:
        properties:
          Md:
            description: Todo description | ???
            format: double
            type: number
          Pat:
            $ref: '#/components/schemas/hypocenter__ot'
          Pfm:
            description: Todo description | ???
            example: ' '
            type: string
          Plabel:
            description: Todo description | ???
            example: ' '
            type: string
          Ponset:
            description: Todo description | ???
            example: P
            type: string
          Pqual:
            description: Todo description | ???
            format: double
            type: number
          Pres:
            description: Todo description | ???
            format: double
            type: number
          Pwt:
            description: Todo description | ???
            format: double
            type: number
          Sat:
            $ref: '#/components/schemas/hypocenter__ot'
          Sfm:
            description: Todo description | ???
            example: ' '
            type: string
          Slabel:
            description: Todo description | ???
            example: ' '
            type: string
          Sonset:
            description: Todo description | ???
            example: ' '
            type: string
          Squal:
            description: Todo description | ???
            format: double
            type: number
          Sres:
            description: Todo description | ???
            format: double
            type: number
          Swt:
            description: Todo description | ???
            format: double
            type: number
          ampMag:
            description: Amplitude magnitude for this station | col98 F3.2
            format: float
            type: number
          ampMagWeightCode:
            description: Amplitude magnitude weight code | col82 I1
            type: integer
          ampType:
            description: Amplitude type 0=unspecified 1=Wood-Anderson 2=velocity 3=acceleration
              4=no magnitude | col114 I2
            type: integer
          ampUnitsCode:
            description: Amp units code. 0=PP mm, 1=0 to peak mm (UCB), 2=digital
              counts | col62 I2
            type: integer
          amplitude:
            description: Amplitude (Normally peak-to-peak) | col55 F7.2
            format: float
            type: number
          azm:
            description: Todo description | ???
            format: double
            type: number
          caav:
            items:
              description: Todo description | ???
              example:
              - 0
              - 0
              - 0
              - 0
              - 0
            type: array
          ccntr:
            items:
              description: Todo description | ???
              example:
              - 0
              - 0
              - 0
              - 0
              - 0
            type: array
          codalen:
            description: Todo description | ???
            format: double
            type: number
          codalenObs:
            description: Todo description | ???
            format: double
            type: number
          codawt:
            description: Todo description | ???
            format: double
            type: number
          comp:
            $ref: '#/components/schemas/cha'
          datasrc:
            description: Todo description | ???
            example: W
            type: string
          dist:
            description: Todo description | ???
            format: double
            type: number
          importanceP:
            description: Importance of P arrival | col101 F4.3
            format: float
            type: number
          importanceS:
            description: Importance of S arrival | col105 F4.3
            format: float
            type: number
          latitude:
            $ref: '#/components/schemas/latitude'
          loc:
            $ref: '#/components/schemas/loc'
          longitude:
            $ref: '#/components/schemas/longitude'
          net:
            $ref: '#/components/schemas/net'
          pamp:
            description: Todo description | ???
            format: double
            type: number
          sta:
            $ref: '#/components/schemas/sta'
          takeoff:
            description: Todo description | ???
            format: double
            type: number
        required:
        - net
        - sta
        - comp
        - loc
      type: array
    hypocenter__azim_gap:
      description: Azimutal gap | double
      format: double
      type: number
    hypocenter__e0:
      description: largest principal error | double
      format: double
      type: number
    hypocenter__e0_az:
      description: azimuth of largest principal error | double
      format: double
      type: integer
    hypocenter__e0_dip:
      description: dip of largest principal error | double
      format: double
      type: integer
    hypocenter__e1:
      description: intermed principal error | double
      format: double
      type: number
    hypocenter__e1_az:
      description: azimuth of intermediate principal error | double
      format: double
      type: integer
    hypocenter__e1_dip:
      description: dip of intermediate principal error | double
      format: double
      type: integer
    hypocenter__e2:
      description: smallest principal error | double
      format: double
      type: number
    hypocenter__err_h:
      description: Depth error | double
      format: double
      type: number
    hypocenter__err_z:
      description: Depth error | double
      format: double
      type: number
    hypocenter__nph:
      description: '# phases (P&S) weight >0.1 | int(11)'
      format: int64
      type: integer
    hypocenter__nph_fm:
      description: '# P first motions | int(11)'
      format: int64
      type: integer
    hypocenter__nph_s:
      description: '# S phases weight >0.1 | int(11)'
      format: int64
      type: integer
    hypocenter__nph_tot:
      description: '# phases (P&S) weight >0.0 | int(11)'
      format: int64
      type: integer
    hypocenter__ot:
      description: Origin time | datetime(3)
      example: '2016-06-22 16:52:06.260'
      type: string
    hypocenter__rms:
      description: Root mean square | double
      format: double
      type: number
    latitude:
      $ref: '#/components/schemas/Latitude'
    loc:
      default: --
      description: Channel location | char(2)
      example: '00'
      type: string
    longitude:
      $ref: '#/components/schemas/Longitude'
    magnitude:
      description: Magnitude | double
      example: 3.2
      format: double
      type: number
    magnitudeSchema:
      allOf:
      - $ref: '#/components/schemas/magnitude__base'
      - properties:
          ewLogo:
            properties:
              hostname:
                $ref: '#/components/schemas/ewLogo__hostname'
              installation:
                $ref: '#/components/schemas/ewLogo__installation'
              instance:
                $ref: '#/components/schemas/ewLogo__instance'
              module:
                description: Module description | ???
                example: MOD_LOCALMAG_PREL
                type: string
              type:
                description: Type description | ???
                example: TYPE_MAGNITUDE
                type: string
              user:
                $ref: '#/components/schemas/ewLogo__user'
            required:
            - type
            - module
            - installation
            - instance
        type: object
    magnitude__azimut:
      description: Azimut | double
      format: double
      type: number
    magnitude__base:
      properties:
        ewMessage:
          properties:
            algorithm:
              description: algorithm description
              example: MED
              format: double
              type: string
            azimuth:
              $ref: '#/components/schemas/magnitude__azimut'
            error:
              $ref: '#/components/schemas/magnitude__err'
            iMagType:
              description: iMagType description
              example: 1
              format: double
              type: number
            ingvQuality:
              $ref: '#/components/schemas/magnitude__mag_quality'
            mag:
              $ref: '#/components/schemas/magnitude__mag'
            magType:
              $ref: '#/components/schemas/type_magnitude__name'
            minDist:
              $ref: '#/components/schemas/magnitude__min_dist'
            nChannels:
              $ref: '#/components/schemas/magnitude__ncha'
            nStations:
              $ref: '#/components/schemas/magnitude__nsta'
            phases:
              $ref: '#/components/schemas/magnitude__phases'
            qAuthor:
              $ref: '#/components/schemas/qAuthor'
            qddsVersion:
              description: qddsVersion description
              example: 0
              format: double
              type: number
            quakeId:
              $ref: '#/components/schemas/event__id_locator'
            quality:
              $ref: '#/components/schemas/magnitude__quality'
            version:
              $ref: '#/components/schemas/type_hypocenter__name'
          required:
          - quakeId
          - version
          - mag
    magnitude__err:
      description: Magnitudo error | double
      example: 2.01
      format: double
      type: number
    magnitude__mag:
      description: Magnitudo value | double
      example: 3.01
      format: double
      type: number
    magnitude__mag_quality:
      description: INGV quality code of the magnitude (computed by ew2moledb) | char(2)
      example: BB
      type: string
    magnitude__min_dist:
      description: Minimal distance from station to hypocenter | double
      format: double
      type: number
    magnitude__ncha:
      description: Number of the channel on magnitudo calculation | int(11)
      format: int64
      type: integer
    magnitude__nsta:
      description: Number of the stations on magnitudo calculation | int(11)
      format: int64
      type: integer
    magnitude__phases:
      items:
        properties:
          amp1:
            $ref: '#/components/schemas/amplitude__amp1'
          amp2:
            $ref: '#/components/schemas/amplitude__amp2'
          comp:
            $ref: '#/components/schemas/cha'
          corr:
            $ref: '#/components/schemas/st_amp_mag__mag_correction'
          dist:
            $ref: '#/components/schemas/ep_distance'
          loc:
            $ref: '#/components/schemas/loc'
          mag:
            $ref: '#/components/schemas/st_amp_mag__mag'
          net:
            $ref: '#/components/schemas/net'
          period1:
            $ref: '#/components/schemas/amplitude__period1'
          period2:
            $ref: '#/components/schemas/amplitude__period2'
          sta:
            $ref: '#/components/schemas/sta'
          time1:
            $ref: '#/components/schemas/amplitude__time1'
          time2:
            $ref: '#/components/schemas/amplitude__time2'
        required:
        - net
        - sta
        - comp
        - loc
        - time1
        - amp1
        - time2
        - amp2
      type: array
    magnitude__quality:
      description: quality | double
      format: double
      type: number
    net:
      description: Channel net code | char(2)
      example: IV
      type: string
    pick__arrival_time:
      description: arrival time | datetime(3)
      example: '2017-04-12 08:46:30.930'
      type: string
    pick__firstmotion:
      description: Up or down | char(1)
      example: D
      type: string
    pick__weight:
      description: Picking weight of the phase | int(11)
      example: 2
      format: int64
      type: integer
    pick_scnlSchema:
      allOf:
      - $ref: '#/components/schemas/pick_scnl__base'
      - properties:
          ewLogo:
            properties:
              hostname:
                $ref: '#/components/schemas/ewLogo__hostname'
              installation:
                $ref: '#/components/schemas/ewLogo__installation'
              instance:
                $ref: '#/components/schemas/ewLogo__instance'
              module:
                description: Module description | ???
                example: MOD_PICK_EW
                type: string
              type:
                description: Type description | ???
                example: TYPE_PICK_SCNL
                type: string
              user:
                $ref: '#/components/schemas/ewLogo__user'
            required:
            - type
            - module
            - installation
            - instance
        type: object
    pick_scnl__base:
      properties:
        ewMessage:
          properties:
            component:
              $ref: '#/components/schemas/cha'
            firstMotion:
              $ref: '#/components/schemas/pick__firstmotion'
            location:
              $ref: '#/components/schemas/loc'
            network:
              $ref: '#/components/schemas/net'
            pAmplitude:
              description: Todo description | ???
              example:
              - 109
              - 101
              - 122
              type: array
            pickId:
              $ref: '#/components/schemas/event__id_locator'
            pickWeight:
              $ref: '#/components/schemas/pick__weight'
            station:
              $ref: '#/components/schemas/sta'
            timeOfPick:
              $ref: '#/components/schemas/pick__arrival_time'
          required:
          - pickId
    qAuthor:
      description: qAuthor description
      example: 014101073:028130073
      type: string
    quake2kSchema:
      allOf:
      - $ref: '#/components/schemas/quake2k__base'
      - properties:
          ewLogo:
            properties:
              hostname:
                $ref: '#/components/schemas/ewLogo__hostname'
              installation:
                $ref: '#/components/schemas/ewLogo__installation'
              instance:
                $ref: '#/components/schemas/ewLogo__instance'
              module:
                description: Module description | ???
                example: MOD_BINDER_EW
                type: string
              type:
                description: Type description | ???
                example: TYPE_QUAKE2K
                type: string
              user:
                $ref: '#/components/schemas/ewLogo__user'
            required:
            - type
            - module
            - installation
            - instance
        type: object
    quake2k__base:
      properties:
        ewMessage:
          properties:
            depth:
              $ref: '#/components/schemas/depth'
            dmin:
              description: dmin description | ???
              format: double
              type: number
            gap:
              $ref: '#/components/schemas/hypocenter__azim_gap'
            latitude:
              $ref: '#/components/schemas/latitude'
            longitude:
              $ref: '#/components/schemas/longitude'
            nph:
              $ref: '#/components/schemas/hypocenter__nph'
            originTime:
              $ref: '#/components/schemas/hypocenter__ot'
            quakeId:
              $ref: '#/components/schemas/event__id_locator'
            ravg:
              description: ravg description | ???
              format: double
              type: number
            rms:
              $ref: '#/components/schemas/hypocenter__rms'
            version:
              $ref: '#/components/schemas/type_hypocenter__name'
          required:
          - quakeId
          - version
          - originTime
          - latitude
          - longitude
          - depth
    st_amp_mag__mag:
      description: Amplitude magnitude value | double
      example: 3.04
      format: double
      type: number
    st_amp_mag__mag_correction:
      description: magnitude correction | double
      example: 0
      format: double
      type: number
    sta:
      description: Channel station code | varchar(5)
      example: ACER
      type: string
    strongmotion__pga:
      description: 'REQUIRED: peak ground acceleration (cm/s/s) | double'
      example: 0.000162
      format: double
      type: number
    strongmotion__pgd:
      description: 'REQUIRED: peak ground displacement (cm) | double'
      example: 2.5e-05
      format: double
      type: number
    strongmotion__pgv:
      description: 'REQUIRED: peak ground velocity (cm/s) | double'
      example: 3.4e-05
      format: double
      type: number
    strongmotion__t_dt:
      default: '1970-01-01 00:00:00.000'
      description: 'time: trigger reported by SM box - datetime part | datetime(6)'
      example: '2017-04-12 08:46:56.190'
      type: string
    strongmotion__tpga_dt:
      description: 'OPTIONAL: time of pga - datetime part | datetime(3)'
      example: '2017-04-12 08:47:06.990'
      type: string
    strongmotion__tpgd_dt:
      description: 'OPTIONAL: time of pgd - datetime part | datetime(3)'
      example: '2017-04-12 08:46:59.989'
      type: string
    strongmotion__tpgv_dt:
      description: 'OPTIONAL: time of pgv - datetime part | datetime(3)'
      example: '2017-04-12 08:46:56.190'
      type: string
    strongmotion_alt__altcode:
      description: code specifying the source of the alternate time field | int(11)
      example: 0
      type: number
    strongmotion_alt__t_alt_dt:
      description: 'alternate time: trigger reported by SM box - time with microseconds
        | datetime(3)'
      example: '1970-01-01 00:00:00.000'
      type: string
    strongmotioniiSchema:
      allOf:
      - $ref: '#/components/schemas/strongmotionii__base'
      - properties:
          ewLogo:
            properties:
              hostname:
                $ref: '#/components/schemas/ewLogo__hostname'
              installation:
                $ref: '#/components/schemas/ewLogo__installation'
              instance:
                $ref: '#/components/schemas/ewLogo__instance'
              module:
                description: Module description | ???
                example: MOD_GMEW
                type: string
              type:
                description: Type description | ???
                example: TYPE_STRONGMOTIONII
                type: string
              user:
                $ref: '#/components/schemas/ewLogo__user'
            required:
            - type
            - module
            - installation
            - instance
        type: object
    strongmotionii__base:
      properties:
        ewMessage:
          properties:
            RSA:
              items:
                properties:
                  period:
                    description: Period
                    example: 0.3
                    type: number
                  value:
                    description: RSA(response spectrum accel) value for period
                    example: 0.000724
                    type: number
              type: array
            alternateCode:
              $ref: '#/components/schemas/strongmotion_alt__altcode'
            alternateTime:
              $ref: '#/components/schemas/strongmotion_alt__t_alt_dt'
            component:
              $ref: '#/components/schemas/cha'
            location:
              $ref: '#/components/schemas/loc'
            network:
              $ref: '#/components/schemas/net'
            pga:
              $ref: '#/components/schemas/strongmotion__pga'
            pgaTime:
              $ref: '#/components/schemas/strongmotion__tpga_dt'
            pgd:
              $ref: '#/components/schemas/strongmotion__pgd'
            pgdTime:
              $ref: '#/components/schemas/strongmotion__tpgd_dt'
            pgv:
              $ref: '#/components/schemas/strongmotion__pgv'
            pgvTime:
              $ref: '#/components/schemas/strongmotion__tpgv_dt'
            qAuthor:
              $ref: '#/components/schemas/qAuthor'
            quakeId:
              $ref: '#/components/schemas/event__id_locator'
            station:
              $ref: '#/components/schemas/sta'
            time:
              $ref: '#/components/schemas/strongmotion__t_dt'
            version:
              $ref: '#/components/schemas/type_hypocenter__name'
          required:
          - quakeId
          - version
    type_hypocenter__name:
      description: Localization name (es:01,XX,WW,..) | varchar(255)
      example: ew prelim
      type: string
    type_magnitude__name:
      default: null
      description: Type of the magnitude | varchar(50)
      example: ML-VAX
      type: string
